$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

body {
  background-color: grey;
}


div .game-cell {
  border: black 2px;
  height: 100px;
  margin: 5px;
  width: 100px;

}




// modal styling
// .modal-body .form-horizontal .col-sm-2,
// .modal-body .form-horizontal .col-sm-10 {
//     width: 100%
// }

// .modal-body .form-horizontal .control-label {
//     text-align: left;
// }
// .modal-body .form-horizontal .col-sm-offset-2 {
//     margin-left: 15px;
// }
